body{
    background-repeat: repeat;
    background-size: cover;
    background-image: url(../images/background.jpeg);
}
img.img_for_link{
    height: 100px;
    width: 170px;
}
div.nav{
    position: absolute;
    top: 35px;
    left: 180px;
    font-size: 45px;
}
